/* =========================================================
   BioForjaRC - administracion/pedidos.css
   ========================================================= */

.fila-pedido:hover {
    background-color: var(--color-claro);
    cursor: pointer;
}

.select-estado-pedido {
    min-width: 170px;
}